footer.fotter
    .footer__logo
        img(src='/images/logo-green.png' alt='Natours logo')
    .footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    .footer__copyright
        p.footer__copyright &copy; by Belal Muhammad. All rights reserved.